.controls-submenu-container {
	position: absolute;
	border: 1px solid black;
	top: 0;
	left: calc(100% + 20px);
	border-radius: 14px;
	background-color: white;
	z-index: 999;
	padding: 20px;
}

.pencil-controls-container,
.eraser-controls-container {
	display: flex;
	align-items: center;
	gap: 16px;
}

.width-btn {
	width: fit-content;
	height: 20px;
	border: none;
	padding: 0;
	cursor: pointer;
}

.width-btn div {
	width: 25px;
	height: 0px;
	border-radius: 999px;
}

.selected-control {
	background-color: #00000024 !important;
}
